@model List<TeacherInfo>
@{
ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
   
</head>
<body>
    @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
         <div class="container-fluid"> 
            <a class="navbar-brand" asp-controller="Admin" asp-action="dashboard">Dashboard</a> 
         </div> 
    </nav>*@
    <div class="box">
    <form asp-action="GetTeacher" method="get">   

            <div class="container-1">
            <input placeholder="Enter teacher" list="List" type="text" name="Surname"/>     
            <datalist id="List">
                @foreach(var item in Model)
                {
                    if (item.TeacherSurname != "")
                    {
                        <option id="" value="@item.TeacherSurname @item.TeacherName @item.TeacherPatronymic"></option>
                    }
                }
            </datalist>

                <input placeholder="Enter group" list="list" type="text" name="Group" />
            <datalist id="list">
                @foreach (var item in Model)
                {
                    <option id="" value="@item.GroupName"></option>
                }
            </datalist>
            <input type="date" name="Date" />
            </div>
            <div class="container-2">
            <input type="submit" value="Відправити" />
            </div>
    </form>
    </div>
</body>
</html>